<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}NOTICIAS{% endblock %}</title>
</head>
<body>
    <div>
        <ul>
            <li><a href="{% url 'noticias:index' %}">principal-index</a></li>
            <li><a href="{% url 'noticias:autores' %}">autores</a></li>
            <li><a href="{% url 'noticias:noticia' %}">tipo de noticia</a></li>
            <li><a href="{% url 'noticias:datosAutores'%}">datos autores</a></li>
            <li><a href="{% url 'noticias:noticias'%}">noticia</a></li>
            <li><a href="{% url 'noticias:contactos'%}">contactos</a></li>
        </ul>
    </div>
    <div class="contenido">
        {% block content%}
        {%endblock%}
    </div>
</body>
</html>

